.container {
    padding: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.textContainer {
    width: 70%;
}

.image {
    width: 20%;
    min-height: 300px;
}

.chapterContainer {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}